*{
    margin: 0px;
    padding: 0px;
}
/* .container{ */
  /* display: flex;
    justify-content: center;
    margin-top: 200px;
    box-shadow: 0 0 10px 0 #999;
    width: 400px;
    height: 200px; */
/* } */
.toolbar{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  position: absolute;
  
}
::-webkit-input-placeholder{
    color: #0000;
    /* background-color: red; */
}